@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

:root {
    --baseBackground: #FFFFFF;
}


* {
    font-family: 'Almarai', sans-serif;
    letter-spacing: 0px;
}

html {
    background-color: var(--baseBackground);
}

.theme--dark.v-app-bar.v-toolbar.v-sheet,
.v-system-bar {
    background-color: #24462eb0 !important;
    border-bottom: thin solid rgba(231, 227, 252, .14) !important;
    backdrop-filter: blur(10px) !important;
}

.bg-gradient-primary , .super {
    background: linear-gradient(28deg, #2e3965, #374da4 44%);
}



.v-card {
    border-radius: 6px !important;
    box-shadow: 0 2px 10px 0 rgb(19 17 32 / 10%) !important;
    border: thin solid rgba(231, 227, 252, .14) !important;
    background-color: var(--baseBackground) !important;
}

.theme--dark.v-card {
    background-color: var(--baseBackground) !important;
}

.theme--dark.v-data-table {
    background-color: var(--baseBackground) !important;
}

tbody tr:hover {
    background-color: #0000001a !important;
}

.hr-scroll {
    overflow-x: scroll;
    display: inline-flex;
}

.appFooter {
    border-top: thin solid rgba(231, 227, 252, .14) !important;
    background-color: var(--baseBackground) !important;
}


.stickyActions {
    position: sticky;
    top: 136px;
    width: 100%;
    margin-bottom: 32px;
    z-index: 100;
    background-color: rgba(49, 45, 75, 0.5) !important;
    border-bottom: thin solid rgba(231, 227, 252, .14) !important;
    backdrop-filter: blur(10px) !important;
}